* {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

#logo {
    text-decoration: none;
    font-family: 'Rammetto One', cursive !important;
    color: #454648;

}

.top {
    background-color: #5dbca5;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    padding: 0px;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
.icon{
    display: none;
}
nav {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

#e-mail {
    background-color: #646466;
    padding-right: 13px;
    padding-left: 13px;
}

footer {
    background-color: #a3c83f;
    color: aliceblue;
}



input,
select,
textarea {
    background: #646466;
    color: #ffffff;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input::placeholder{
    color: #ffffff;
}
textarea::placeholder{
    color: #ffffff;
}

input[type=submit]::hover {
    background-color: #45a049;
}

.center {
    text-align: center;
}

#socialmedia {
    background-color: #646466;
    margin-left: auto;
    margin-right: auto;
}

.sociallink {
    padding-top: 10px;
    float: left;
    color: aliceblue;
    min-height: 100px;
    min-width: 100px;
    width: 16%;
    text-align: center;

}

.clear {
    clear: both;
}

.sociallink:hover {
    background-color: #293133;
    border-radius: 5px;

}

nav > div > a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: dimgrey;
    font-family: 'Rammetto One', cursive !important;

}

nav > div > a:visited {
    color: dimgrey;
}

nav > div {
    border-left: 4px dotted #646466;
    float: left;
    text-align: center;
    letter-spacing: 6px;
    align-items: stretch;
    width: 33%;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 50px;

}

nav > div:first-child {
    border-left: 0px dotted #646466;
}

nav > div > a:hover {
    border-radius: 5px;
    background-color: #419d7f;
}

.space {
    height: 20px;
}

#skills {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #364148;

}

#background {
    background-color: #364148;
}

.pr {
    height: 90px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.line {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 200, 0, 0.75), rgba(30, 30, 30, 0));
}

.header {
    font-family: 'Rammetto One', cursive !important;
    color: #7ae847;
    text-align: center;

}

.tox-progress {
    float: left;
    padding: 20px;
}

#projects {
    background: #232733;
}

.margin {
    margin-left: auto;
    margin-right: auto;
}

#about {
    
    padding: 30px;
    text-align: center;
    /*color: #8E9198;
    background: #232732;*/
    color: #7ae847;
    background-image: url("bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 32px;
}

.text {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#dotted {
    /*padding: 5px;
    height: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: url(hr-12.png) repeat-x 0 0;
    border: 0;*/
    border: none;
    border-bottom: dotted;
    
}

.size {
    padding-left: 10%;
    padding-right: 10%;

}

proj {
    float: left;
}

.projimg {
    height: 250px;
    width: 250px;
    max-height: 100%;
    max-width: 100%;

}

.margin > p {
    text-align: center;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.flexcontainer > p {
    padding: 1px;
    height: 250px;
    width: 250px;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    margin: auto;

}

.tox-progress {
    position: relative;
}

.tox-progress .radial-outer,
.tox-progress .radial-inner {
    border-radius: 50%
}

.tox-progress .radial-inner,
.tox-progress .radial-mask-1,
.tox-progress .radial-mask-2,
.tox-progress .radial-mask-3,
.tox-progress .tox-progress-content {
    position: relative
}

.tox-progress .radial-mask-1,
.tox-progress .radial-mask-2,
.tox-progress .radial-mask-3 {
    transform-origin: bottom center
}

.tox-progress .radial-mask-1,
.tox-progress .radial-mask-3 {
    transform: rotate(90deg)
}

.tox-progress .radial-mask-2 {
    transform: rotate(270deg)
}

/*# sourceMappingURL=tox-progress.css.map */
/*Mobile version */
@media screen and (max-width: 730px) {
  nav{display: none;}
  nav>div>.icon>a>p {
    float: right;
    display: block;
    /*cos nie dziala tu*/
  }
}
/*
@media screen and (max-width: 730px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}*/